/* src/index.scss */
@use "./reset.scss";

@tailwind base;
@tailwind components;
@tailwind utilities;
 
$primary: #165dff;
.btn-custom {
  @apply px-4 py-2 rounded;
  color: $primary;
  border: 1px solid $primary;
}
